@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}


body {
    background-image: linear-gradient(rgba(0,0,0,.4), rgba(143, 24, 255, 0.2)), url("./Images/background.car.jpg");
    background-size:cover;
    background-position: top;
    background-repeat:no-repeat;
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome,
.info-box,
.quiz-box,
.result-box {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.808);
    box-shadow: 0px 0px 5px rgb(62, 137, 250),
    0px 0px 40px rgb(226, 106, 250);

}

.welcome {
    background-color: rgba(255, 255, 255, 0.808);
    border-radius: 50px 0px 50px 0px;
    padding: 20px;
    box-shadow: 0px 0px 5px rgb(62, 137, 250),
    0px 0px 40px rgb(226, 106, 250);
    width:500px;
    min-height:300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome.inactive{
    display: none;
}

.welcome .message {
    font-size:20px;
    text-align: center;
    font-weight: 600;
}

.welcome .message span {
    color: rgb(1, 46, 247);
    font-size: 20px;
    font-weight: 700;
}

.welcome .message .page-name{
    font-size: 35px;
    color: rgb(255, 255, 255);
    text-shadow:0px 2px 3px rgb(0, 0, 0), 
                0px 2px 3px rgb(0, 0, 0), 
                0px 2px 3px rgb(0, 0, 0),
                0px 2px 3px rgb(0, 0, 0);
    margin-top: 50px;
}

.welcome button {
    width: max-content;
    margin: 40px 0px 10px;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;
    background-color:rgb(1, 46, 247);
    color: #fff;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    border: 1px solid rgb(1, 46, 247);
    cursor: pointer;
    transition: all .2s ease;
}

.welcome button:hover {
    background-color:rgb(72, 17, 109);
    color: #fff;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}


/* Quiz Info Box */
.info-box {
    width: 500px;
    border-radius: 8px;
    display: none;
}

.info-box.active, 
.quiz-box.active,
.result-box.active{
    display:unset;
}

.info-box .info-title {
    border-bottom: 1px solid rgb(187, 180, 180);
    width: 100%;
    padding: 15px 20px;

}

.info-box .info-title span{
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0px;
    color: rgb(1, 46, 247)
}

.info-list {
    padding: 15px 25px;
}

.info-list .info {
    margin: 5px 0px;
    font-weight: 500;
    font-size: 17px;
}

.info-list .info span {
    font-weight: 600;
    font-size: 17px;
    color: rgb(1, 46, 247);
}

.info-box .buttons {
    border-top: 1px solid rgb(187, 180, 180);
    padding: 15px 20px;
    display: flex;
    justify-content: end;
}

.buttons button {
    width: max-content;
    margin: 0px 8px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    padding: 5px 10px;
    border: 1px solid transparent;
    outline: none;
    background-color: rgb(1, 46, 247);
    border-radius: 5px;
    transition: all .3s ease;
    cursor: pointer;
}

.buttons button.quit {
    background-color: rgb(236, 238, 243);
    color: rgb(1, 46, 247);
    border: 1px solid rgb(1, 46, 247);

}

.buttons button.quit:hover {
    background-color:rgb(72, 17, 109);
    color: #fff;
    border: 1px solid transparent;
}

.buttons button.restart {
    border: 1px solid rgb(97, 95, 102);
}

.buttons button.restart:hover {
    background-color:rgb(72, 17, 109);
}

/* quiz box styling */
.quiz-box {
    width: 520px;
    border-radius: 50px 0px 50px 0px;
    display: none;
}

.quiz-box header {
    position: relative;
    padding: 15px 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px 5px 0px 0px;
    box-shadow: 0px 2px 5px 1px rgb(187, 180, 180);
}

.quiz-box header .title {
    font-size: 24px;
    font-weight: 600;
    color: rgb(1, 46, 247);
    text-shadow:0px 2px 2px rgb(0, 0, 0);
}

.quiz-box header .timer {
    width:max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: max-content;
    border-radius: 5px;
    background-color: rgb(187, 180, 180);
}

.timer .time-text {
    font-size: 15px;
    font-weight: 600;
    user-select: none;
    padding: 0px 4px 0px 5px;
}

.timer .time {
    width:40px;
    font-size: 25px;
    font-weight: 600;
    color: white;
    background-color: rgb(0, 0, 0);
    user-select: none;
    padding: 2px 8px;
    border-radius: 8px;
}

.quiz-box header .time-line {
    position: absolute;
    bottom:0;
    left:0;
    height:3px;
    background: rgb(1, 46, 247);
}

.quiz-box section {
    padding: 25px 25px 10px;
}

section .q-text {
    font-size: 20px;
    font-weight: 700;
    letter-spacing:-1px;
}

section .option-list {
    padding: 20px 0px 5px;
    display: block;
}

.option-list .option {
    font-size: 15px;
    font-weight: 600;
    background-color: rgba(215, 225, 255, 0.808);
    margin-bottom: 10px;
    padding: 12px 10px;
    border-radius: 5px;
    border: 1px solid rgba(1, 46, 247, 0.562);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: all .2s ease;
    box-sizing: border-box;
}

.option-list .option.disabled {
    pointer-events: none;
}

.option-list .option.correct{
    background-color: rgba(51, 255, 0, 0.274);
    border: 1px solid rgb(4, 180, 4);
}

.option-list .option.wrong{
    background-color: rgba(252, 166, 166, 0.658);
    border: 1px solid rgb(255, 0, 0);
}

section .option:hover {
    background-color: rgba(203, 174, 230, 0.808);
    border: 1px solid transparent;
}

section .option:last-child {
    margin-bottom: 0px;
}

.option .icon {
    border: 1px solid transparent;
    border-radius: 50%;
    box-sizing: border-box;
    display:flex;
    align-items: center;
}

.option .icon.tick {
    color: rgb(4, 180, 4);
    border: 1px solid rgb(4, 180, 4);
    background-color: white;
    padding:0px 3px;
    block-size: 23px;
}

.option .icon.cross {
    color: rgb(255, 0, 0);
    border: 1px solid rgb(255, 0, 0);
    background-color: rgba(248, 238, 238, 0.658);
    padding:0px 5px;
    block-size: 23px;
}

.quiz-box footer {
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin: 0px 25px 20px;
}


footer .total-q span {
    display: flex;
    user-select: none;
}

footer .total-q span p {
    font-weight: 600;
    font-size: 18px;
    padding: 0px 5px;
}

footer .total-q span p:first-child {
    padding-left: 0px;
}


footer button {
    width:max-content;
    padding: 5px 15px;
    border-radius: 5px;
    outline: none;
    font-weight: 500;
    cursor: pointer;
    font-size: 17px;
    transition: all .1s ease;
}

footer .next-btn {
    display: none;
    color: white;
    background-color: rgb(1, 46, 247);
    border: 1px solid rgb(1, 46, 247);
}

footer .next-btn:hover {
    background-color:rgb(72, 17, 109);
}

footer .next-btn:after {
    content: " \023E9";
}

/* Result box styling */
.result-box {
    width: 400px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:0px 25px;
    align-items: center;
    text-align: center;
    display: none;
}

.result-box .icon {
    font-size: 150px;
    padding: 10px 40px;
    border-radius: 7px;
    background-image: linear-gradient(rgb(0, 17, 250), rgb(158, 137, 170), rgba(255, 255, 255, 0.664));
    color:rgb(25, 26, 22);
    width:100%;
}

.result-box .complete-msg {
    font-weight: 600;
    font-size: 18px;
}

.result-box .score-msg {
    width:100%;
    font-weight: 500;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
}

.result-box .score-msg p {
    font-weight: 600;
    font-size: 19px;
    padding: 0px 4px;
}

.result-box .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px 40px;
}

.result-box .buttons button {
    width: max-content;
    padding: 8px 20px;
    border: 1px solid rgb(1, 46, 247);
    font-size: 18px;
    font-weight: 600;
}

/* Media queries */

@media screen and (max-width:550px){

    .welcome {
        padding: 20px 10px;
        width: 90%;
        min-height:200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .welcome .message {
        font-size: 16px;
    }
    
    .welcome .message span {
        font-size: 17px;
    }

    .welcome .message .page-name{
        font-size: 22px;
    }

    .welcome button {
        font-size: 15px;
    }
    
    .info-box {
        width: 90%;
        max-width: 400px;
        border-radius: 8px;
    }


    .info-box .info-title {
        font-weight: 600;
        font-size: calc(100%);
        letter-spacing: 0px;
    }

    .info-list {
        padding: 10px 15px;
    }

    .info-list .info {
        margin: 5px 0px;
        font-weight: 400;
        font-size: 14px;
    }

    .info-list .info span {
        font-weight: 600;
        font-size: 15px;
    }

    .buttons {
        justify-content: space-evenly;
    }

    .buttons button {
        font-size: 14px;
        font-weight: 600;
        padding: 5px 10px;
    }

    .quiz-box {
        width: 90%;
    }

    .quiz-box header {
        padding: 15px 20px 3px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .quiz-box header .title {
        font-size: 20px;
        width: 100%;
        margin: 0px 0px 5px;
    }

    .quiz-box header .timer {
        align-self: flex-end;
        text-align: center;
        width: max-content;
        border-radius: 10px;
        padding-right: 0px;
    }

    .timer .time-text {
        font-size: 15px;
        margin: 0px 4px 0px 0px;
    }

    .timer .time {
        font-size: 22px;
        border-radius: 10px;
    }

    section .q-text {
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 0px;
    }

    section .option-list {
        padding: 20px 0px;
        display: block;
    }

    .result-box {
        width: 90%;
    }
}

/* For smaller devices */

@media screen and (max-width:300px) {
    
    
    .welcome {
        width:90%;
    }

    .welcome .message {
        font-size: 14px;
    }

    .welcome .message span {
        font-size: 16px;
    }

    .welcome .message .page-name{
        font-size: 20px;
    }

    .welcome button {
        margin: 40px 0px 0px;
        border-radius: 6px;
        font-size: 14px;
        padding:6px 10px;
    }
        
    .info-box {
        width: 90%;
        max-width: 400px;
        border-radius: 8px;
    }


    .info-box .info-title {
        font-weight: 700;
        font-size: 16px;
        letter-spacing: 0px;
    }

    .info-list {
        padding: 10px 15px;
    }

    .info-list .info {
        margin: 5px 0px;
        font-weight: 400;
        font-size: 12px;
    }

    .info-list .info span {
        font-weight: 600;
        font-size: 13px;
    }

    section .q-text {
        font-size: 16px;
    }
    
    section .option-list {
        padding: 15px 0px 5px;
    }
    
    .option-list .option {
        font-size: 14px;
        margin-bottom: 8px;
        padding: 10px 5px;
    }

    .buttons {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 10px 5px;
    }

    .buttons button {
        width: 60%;
        margin: 5px 0px;
        font-size: 12px;
        font-weight: 500;
        padding: 5px 10px;
    }

    .quiz-box {
        width: 90%;
    }

    .quiz-box header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .quiz-box header .title {
        font-size: 16px;
        width: 100%;
        margin: 0px 0px 10px;
        text-align: center;
    }

    .quiz-box header .timer {
        text-align: center;
        width: max-content;
        border-radius: 10px;
        padding-right: 0px;
    }

    .timer .time-text {
        font-size: 13px;
        margin: 0px 4px 0px 0px;
    }

    .timer .time {
        font-size: 17px;
        background-color: rgb(10, 9, 10);
        border-radius: 10px;
    }

    .quiz-box footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 0px 20px 20px;
    }

    section .option-list {
        padding: 20px 0px 0px;
    }

    footer .total-q span p {
        font-size: 15px;
    }

    footer .next-btn {
        margin: 10px 0px 0px;
        align-self: center;
        justify-self: center;
    }

    .result-box {
        width: 90%;
    }

    .result-box .icon {
        font-size: 120px;
        padding: 10px 0px;
    }
    
    .result-box .complete-msg {
        font-size: 16px;
    }
    
    .result-box .score-msg {
        font-size: 15px;
    }
    
    .result-box .score-msg p {
        font-size: 16px;
    }
    
    .result-box .buttons {
        padding: 20px 0px 20px;
    }
    
    .result-box .buttons button {
        font-size: 16px;
    }
}